#track-info {
  width: 100%;
  height: 20vh;
}

#track-name {
  font-size: 1.1rem;
  margin-top: 0;
}

#artist-name {
  font-size: 0.9rem;
}

// #btn-row {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }

// .playback-btn {
//   width: 20%;
//   font-size: 1.3rem;
// }
