#track-name {
  font-size: 1.1rem;
  margin-bottom: -5%;
  margin-top: 0;
}

#artist-name {
  font-size: 0.9rem;
}

#btn-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playback-btn {
  width: 20%;
  font-size: 1.3rem;
}
