#container {
  width: 100vw;
  height: 100vh;
}

#prompt-container {
  text-align: center;
}

#viz-container {
  width: 50%;
  padding: 50%;
  box-sizing: border-box;
  position: relative;
  -webkit-app-region: drag;
}

#controller-container {
  width: 100%;
  text-align: center;
  position: relative;
}
