#container {
  width: 100vw;
  height: 100vh;
  -webkit-app-region: drag;
}

#container:hover {
  #controller-container {
    opacity: 1;
  }
}

#prompt-container {
  text-align: center;
}

#viz-container {
  width: 50%;
  padding: 50%;
  box-sizing: border-box;
  position: relative;
}

#controller-container {
  width: 100%;
  opacity: 0;
  text-align: center;
  position: relative;
}
